@import url(http://weloveiconfonts.com/api/?family=fontawesome);
body {
  background: #0091EA;
  padding: 100px;
  color: #fff;
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
}

.carousel {
  position: relative;
  border: 10px solid #fff;
  width: 100%;
  height: 300px;
  box-shadow: 0px 0px 10px #333;
  overflow: hidden;
  background: #ccc;
}
.carousel .slide {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.5s ease-in-out;
}
.carousel input[type=radio] {
  opacity: 0;
  width: 0;
  height: 0;
}
.carousel input[type=radio]:checked + .dot {
  background: #0091EA;
}
.carousel .dot {
  cursor: pointer;
  text-indent: -99999px;
  overflow: hidden;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 3px solid #fff;
  box-sizing: border-box;
  border-radius: 100%;
  position: absolute;
  z-index: 100;
  top: 90%;
  float: right;
}
.carousel .arrow {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  display: none;
  top: 50%;
  transform: translateY(-50%);
}
.carousel #slide-1:checked ~ .slides li.slide-1 {
  left: 0;
  z-index: 2;
}
.carousel #slide-1:checked ~ .slides li.slide-2 {
  left: -100%;
  opacity: 0;
}
.carousel #slide-1:checked ~ .slides li.slide-3 {
  top: -1000%;
}
.carousel #slide-1:checked ~ .slides li.slide-4 {
  top: -1000%;
}
.carousel #slide-1:checked ~ .slides li.slide-5 {
  left: 100%;
  opacity: 0;
}
.carousel #slide-2:checked ~ .slides li.slide-1 {
  left: 100%;
  opacity: 0;
}
.carousel #slide-2:checked ~ .slides li.slide-2 {
  left: 0;
  z-index: 2;
}
.carousel #slide-2:checked ~ .slides li.slide-3 {
  left: -100%;
  opacity: 0;
}
.carousel #slide-2:checked ~ .slides li.slide-4 {
  top: -1000%;
}
.carousel #slide-2:checked ~ .slides li.slide-5 {
  top: -1000%;
}
.carousel #slide-3:checked ~ .slides li.slide-1 {
  top: -1000%;
}
.carousel #slide-3:checked ~ .slides li.slide-2 {
  left: 100%;
  opacity: 0;
}
.carousel #slide-3:checked ~ .slides li.slide-3 {
  left: 0;
  z-index: 2;
}
.carousel #slide-3:checked ~ .slides li.slide-4 {
  left: -100%;
  opacity: 0;
}
.carousel #slide-3:checked ~ .slides li.slide-5 {
  top: -1000%;
}
.carousel #slide-4:checked ~ .slides li.slide-1 {
  top: -1000%;
}
.carousel #slide-4:checked ~ .slides li.slide-2 {
  top: -1000%;
}
.carousel #slide-4:checked ~ .slides li.slide-3 {
  left: 100%;
  opacity: 0;
}
.carousel #slide-4:checked ~ .slides li.slide-4 {
  left: 0;
  z-index: 2;
}
.carousel #slide-4:checked ~ .slides li.slide-5 {
  left: -100%;
  opacity: 0;
}
.carousel #slide-5:checked ~ .slides li.slide-1 {
  left: -100%;
  opacity: 0;
}
.carousel #slide-5:checked ~ .slides li.slide-2 {
  top: -1000%;
}
.carousel #slide-5:checked ~ .slides li.slide-3 {
  top: -1000%;
}
.carousel #slide-5:checked ~ .slides li.slide-4 {
  left: 100%;
  opacity: 0;
}
.carousel #slide-5:checked ~ .slides li.slide-5 {
  left: 0;
  z-index: 2;
}
.carousel .dot.slide-6 {
  left: 120px;
}
.carousel .dot.slide-5 {
  left: 100px;
}
.carousel .dot.slide-4 {
  left: 80px;
}
.carousel .dot.slide-3 {
  left: 60px;
}
.carousel .dot.slide-2 {
  left: 40px;
}
.carousel .dot.slide-1 {
  left: 20px;
}
.carousel img {
  width: 100%;
}
