input[type=radio] {
  display: none;
}

label {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 5px;
  background: url("../svg/radio.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  filter: invert(56%) sepia(89%) saturate(586%) hue-rotate(189deg) brightness(102%) contrast(99%);
  transition: all 0.5s ease;
}
label:hover {
  cursor: pointer;
  filter: invert(100%) sepia(4%) saturate(2%) hue-rotate(234deg) brightness(115%) contrast(100%);
}
label:active {
  cursor: pointer;
  filter: none;
  transform: scale(1.2);
}

/* bullet  */
#slide-1:checked ~ #label-slide-1 {
  background: url("../svg/radio-checked.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
}

#slide-2:checked ~ #label-slide-2 {
  background: url("../svg/radio-checked.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
}
