* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Caveat", cursive;
  color: #71abfe;
  font-size: 3vw;
}

body {
  width: 100%;
  height: 100%;
  background: #283a53;
  padding: 5vw;
  box-sizing: border-box;
}

#label-slide-1 {
  grid-area: radio1;
}
label{
  user-select: none;
}
#label-slide-2 {
  grid-area: radio2;
}

#label-slide-3 {
  grid-area: radio3;
}

#label-slide-4 {
  grid-area: radio4;
}

#label-slide-5 {
  grid-area: radio5;
}

#label-slide-6 {
  grid-area: radio6;
}

#label-slide-7 {
  grid-area: radio7;
}

.css-slider {
  display: grid;
  grid-template-columns: 0 1fr repeat(7, 6vw) 0;
  grid-template-rows: 0 90% 0 10% 0;
  grid-template-areas: 
  "none  none none none none none none none none none" 
  "non2  images images images images images images images images non4" 
  "non2  non5 non5 non5 non5 non5 non5 non5 non5 non4" 
  "non2  text radio1 radio2 radio3 radio4 radio5 radio6 radio7 non4" 
  "non3  non3 non3 non3 non3 non3 non3 non3 non3 non3";
  width: 100%;
}

.images {
  grid-area: images;
  display: grid;
  grid-template-columns: repeat(7, 90vw);
  overflow: hidden;
  border: 0.5vw #71abfe solid;
  border-radius: 2vw;
}

.description {
  display: grid;
  grid-template-areas: "text";
  grid-area: text;
  overflow: hidden;
}
.description p {
  grid-area: text;
}

.slide {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

p {
  transition: all 0.8s ease;
}

div.wrapper-slide {
  display: flex;
  transition: all 0.8s ease;
}

div.wrapper-slide li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

img {
  height: 100%;
  opacity: 0;
}

li.slide {
  backdrop-filter: blur(4vw);
  -webkit-backdrop-filter: blur(4vw);
}

.description p {
  margin-top: 1.2vw;
  transform: translateY(50vw);
  order: 1;
}

li.slide.slide-1 {
  background: url("../images/image-1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.slide-1 {
  background: url("../images/image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Images */
#slide-1:checked ~ .images .wrapper-slide {
  transform: translateX(0vw);
}

/* Description */
#slide-1:checked ~ .description p.slide-1 {
  transform: translateY(0);
  order: 0;
}

li.slide.slide-2 {
  background: url("../images/image-2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.slide-2 {
  background: url("../images/image-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Images */
#slide-2:checked ~ .images .wrapper-slide {
  transform: translateX(-90vw);
}

/* Description */
#slide-2:checked ~ .description p.slide-2 {
  transform: translateY(0);
  order: 0;
}

li.slide.slide-3 {
  background: url("../images/image-3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.slide-3 {
  background: url("../images/image-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Images */
#slide-3:checked ~ .images .wrapper-slide {
  transform: translateX(-180vw);
}

/* Description */
#slide-3:checked ~ .description p.slide-3 {
  transform: translateY(0);
  order: 0;
}

li.slide.slide-4 {
  background: url("../images/image-4.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.slide-4 {
  background: url("../images/image-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Images */
#slide-4:checked ~ .images .wrapper-slide {
  transform: translateX(-270vw);
}

/* Description */
#slide-4:checked ~ .description p.slide-4 {
  transform: translateY(0);
  order: 0;
}

li.slide.slide-5 {
  background: url("../images/image-5.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.slide-5 {
  background: url("../images/image-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Images */
#slide-5:checked ~ .images .wrapper-slide {
  transform: translateX(-360vw);
}

/* Description */
#slide-5:checked ~ .description p.slide-5 {
  transform: translateY(0);
  order: 0;
}

li.slide.slide-6 {
  background: url("../images/image-6.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.slide-6 {
  background: url("../images/image-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Images */
#slide-6:checked ~ .images .wrapper-slide {
  transform: translateX(-450vw);
}

/* Description */
#slide-6:checked ~ .description p.slide-6 {
  transform: translateY(0);
  order: 0;
}

li.slide.slide-7 {
  background: url("../images/image-7.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.slide-7 {
  background: url("../images/image-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Images */
#slide-7:checked ~ .images .wrapper-slide {
  transform: translateX(-540vw);
}

/* Description */
#slide-7:checked ~ .description p.slide-7 {
  transform: translateY(0);
  order: 0;
}

@media screen and (max-width: 540px) {
  .css-slider {
    grid-template-columns: 0 1fr repeat(7, 6vw) 1fr 0;
    grid-template-rows: 0 80% 10% 30% 0;
    grid-template-areas: 
    "none  none none none none none none none none none    none" 
    "non2  images images images images images images images images images  non4" 
    "non2  non5 radio1 radio2 radio3 radio4 radio5 radio6 radio7 non6    non4" 
    "non2  text text text text text text text text text    non4" 
    "non3  non3 non3 non3 non3 non3 non3 non3 non3 non3    non3";
  }

  * {
    font-size: 7vw;
  }
}


